body {
    font-family: 'Roboto';
    margin: 0em;


}

.container_header {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.localisation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    background: #EAEAEA;
    font-size: 1.2rem;
    position: relative;
}

.ville {
    margin: 20px;
}


.book {
    background-color: #F6F6F6;
    padding-top: 2px;
    padding-bottom: 80px;


}

.titre_book {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sous_titre_book {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;

}

.bouton {
    display: flex;
    width: max-content;
    margin: auto;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 10px #c4c3c0;
    padding: 2px 20px;
    font-size: 15px;




    /* display:flex;
    justify-content: center;
    color: whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background: linear-gradient(#FF79DA, #9356DC); */
}

.menus {
    padding: 45px 20px 55px 20px;

}

.titre_menu {
    margin-bottom: 30px;
}

.liste_menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.menu_type {
    align-items: center;
    height: 70px;
    padding: 0 7rem 0 3rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0 0 0 /13%);
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #f6f6f6;
    display: flex;
}

.menu_icon {
    margin-right: 15px;
}

.fa-store {
    color: #9356DC;
    background-color: #F5EDFF
}

.degustation {
    background-color: #F5EDFF;
}

.menu_numero {
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #9356DC;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -60px;
    color: white;
}