body {
    font-family: 'Shrikhand''Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.8);
    animation: fadeout 3s;
    animation-fill-mode: both;
    animation-delay: 1.5s;

}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        z-index: -50;
        opacity: 0;
    }
}

.loader_spinner {
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #99E2D0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    animation: spinner 1.5s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header_logo {
    font-family: Shrikhand;
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    font-weight: 900;
}


.localisation {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: #EAEAEA;
    font-size: 1.2rem;
    position: relative;
    box-shadow: 0px 2px 5px 0px inset #A6A6A6;
}

.ville {
    margin: 20px;
    margin: 20 px;
    font-family: 'Roboto';
    font-size: 0.8em;
}


.book {
    background-color: #F6F6F6;
    padding-top: 2px;
    padding-bottom: 80px;


}

.titre_book {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-size: 700;
}

.sous_titre_book {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto';
    font-size:100;

}

.explore {
    font-family: Roboto;
    font-size: 500;
  
}

.bouton {
    display: flex;
    width: max-content;
    margin: auto;
    background: linear-gradient(#FF79DA, #9356DC);

    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 10px #c4c3c0;
    padding: 2px 20px;
    font-size: 15px;
    cursor: pointer;
    animation: bounce 1s ;
    
}



@keyframes bounce {
    from{
        box-shadow:0 0 5px #c4c3c0;
        }
        
    to{    
        box-shadow:0 0 15px hsl(300, 41%, 33%)  
        }
}




.menus {
    padding: 45px 20px 55px 20px;

}

.titre_menu {
    margin-bottom: 30px;
    font-family: 'Roboto';
}

.liste_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu_type {
    align-items: center;
    height: 70px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0 0 0 /13%);
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #f6f6f6;
    display: flex;
}

.menu_type:hover {
    color: #9356DC;
}

.menu_icon {
    margin-right: 15px;
}



.fa-store:hover {
    color: #9356DC;
}

.fa-mobile-alt:hover {
    color: #9356DC;
}

.fa-list-ul:hover {
    color: #9356DC;
}



.menu_numero {
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #9356DC;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -24px;
    color: white;

}



h3 {
    font-family: sans-serif;
}

.menu_type:hover {
    background-color: #F5EDFF;
}

.container_restaurants {
    padding: 55px 20px 45px 20px;
    background-color: #f6f6f6;
}



.restaurant_titre {
    margin-bottom: 30px;
    margin-left: 1rem;
    font-family: 'Roboto';
}

.container {
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.container_cartes {
    width: 100%;
}


.restaurants_cartes {
    position: relative;
    height: 250px;
    margin-bottom: 20px;
    border: 10px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px 5px #DDDCE0;
    width: 100%;
    margin-left: auto;
    background-color: white;
}

.carte_restaurant_img {
    display: flex;
    height: 175px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.titre-restaurant {
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
}

.fa-heart {
    color: black;
}

.sticker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: #99E2D0;
    color: #008766;
    position: absolute;
    right: 10px;
    top: 15px;
}

.nom_rue {
    margin-top: -12px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: hsl(0deg 0% 13%);
}





/* Position absolute : l'élément sort du flow, recherche un élément parent avec la position relative. Si l'élément ne trouve pas, c'est relatif au body.

Position relative : l'élément reste dans le flow, ça permet aussi d'utiliser top-bottom, left-right, mais reste dans le flow et permet d'utiliser z-index.*/
.carte_restaurant {
    padding: 20px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
}


.nom_restaurant {
    margin-top: -30px;
    color: black;
    font-size: 15px;
}

.container_footer {
    color: #F6F6F6;
    ;
    background-color: #353535;

    padding-top: 1em;


}

.footer_logo {
    font-family: Shrikhand;
    font-size: 30px;
    color: white;
    margin-left: 2.5rem;
}

a {
    text-decoration: none;
}

.footer_logo {
    font-size: 20px;

}

.footer ul {
    list-style: none;

}

.footer_link {
    color: white;
    font-size: 15px;
    font-family: 'Roboto';
    font-size: 15px;

}

.footer_listing {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    font-family: 'Roboto'`;
 

}

.ustensiles {
    padding-right: 12px;
}

.fa-utensils {
    color: white;
}

.hands {
    padding-right: 7px;
}

.fa-hands-helping {
    color: white;
}

.menu_card_like {
    width: 25px;
    height: 25px;
    position: relative;
    background-color: black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu_card_like::before {
    transition: 0.5s;
    opacity: 0;
    content: "";
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu_card_like:hover::before {
    opacity: 1;

}

.card_like {
    background-color: white !important;
    position: absolute;
    mix-blend-mode: lighten;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.menu_card_like:hover .far {
    opacity: 0;
}









@media (min-width:375px) {
    .menus {
        padding: 45px 20px 55px 20px;

    }

    .liste_menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .menu_type {
        display: flex;
        width: 100%;
    }

    .footer_listing {
        padding-left: 20px;
    }

    .footer_logo {
        margin-left: 2em;
    }
}

@media (max-width:768px) {
    .liste_menu {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 95%;

    }

    .menu_type {
        display: flex;

    }

    .footer_listing {
        padding-left: 2em;
    }

    .footer_logo {
        padding-left: -2em;
    }
}

@media (min-width:1440px) {

    .menu_type {
        padding-left: 1em;
        padding-right: 1em;
    }

    .container {
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 100%;
    }

    .container_menu {
        max-width: 1400px;
        position: relative;
        margin: auto;
    }


    .container_cartes {
        padding-left: 1em;
    }

    .container_resto {
        max-width: 1400px;
        position: relative;
        margin: auto;
    }

    .footer_listing {
        padding-left: 260px;
    }

    .footer_logo {
        padding-left: 220px;
    }
}